.vs/WindowsFormsApp1/v15/Server/sqlite3/storage.ide-shm
.vs/WindowsFormsApp1/v15/Server/sqlite3/storage.ide
.vs/WindowsFormsApp1/v15/.suo
.vs/WindowsFormsApp1/DesignTimeBuild/.dtbcache
.vs/WindowsFormsApp1/v15/Server/sqlite3/db.lock
.vs/WindowsFormsApp1/v15/Server/sqlite3/storage.ide-wal
